#service_wrapper{
  background-color: rgb(88, 16, 16);
  
}
.box_wrapper{
  display: flex;
  gap: 24px;
  padding-top: 20%;

}
.box{
  width: 312px;
  border-radius: 10px;
  background-color: rgba(255, 244, 229, 0.5);
  padding: 60px 60px 75px 65px;
  margin-bottom: 214px;
  overflow: hidden;
}
.box:nth-child(2){
  background-color: rgba(232, 252, 234, 0.5);
}
.box:nth-child(3){
  background-color: rgba(242, 242, 253, 0.5);
}
.box:nth-child(4){
  background-color: rgba(253, 242, 245, 0.5);
}

.box h6{
  margin-top: 5px;
}
.box .counter{
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  color: #222;
}